@import "tailwindcss";
<<<<<<< HEAD
=======

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
>>>>>>> 44289a5600fdad2764fd77b755c8b989849b2ebf
